.featuredProperties {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featuredPropertiesItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.featuredPropertiesImg {
    width: 100%;
}
.featurePropertiesName{
    font-weight: bold;
}
.featurePropertiesCity{
    font-weight: 300;
}
.featurePropertiesPrice{
    font-weight: 500;
}
.featuredPropertiesRating>button{
    background-color: #244062;
    color: white;
    font-weight: 500;
    border: none;
    padding: 5px;
    margin-right: 10px;
}

.featuredPropertiesRating>span {
    font-size: 16px;
    color: gray;
}